#allow-permissions, #deny-permissions{
    min-height: 300px;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #d2d6de;
    cursor: pointer;
    float:left;
    width:100%;
    overflow-y: auto;
    height: 100px;
}
#allowUL > li > ul > li {
    color: #bcbcbc;
}
#dennyUL > li > ul > li {
    color: #bcbcbc;
}
#allow-permissions > .permissions{
    margin: 5px 0;
}
.icon-block{
    text-align: center;
    transform: translateY(+100%);
}
#roleform-inherit_permissions{
    text-align: center;
}
#roleform-inherit_permissions .checkbox-inline{
    padding-right: 20px;
    font-weight: bold;
}
#parent_roles_list{
    margin-top: 15px;
}
#form-permission .alert{
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
}
#form-permission .alert .close{
    color: #c41014;
    opacity: .8;
}
.delete{
    color: #c41014;
    text-decoration: underline;
    margin: 0 15px;
}
.delete:hover{
    color: #871014;
    margin: 0 15px;
}
#parent_roles_list,
#parent_permissions_list,
#children_permissions_list {
    margin-top: 20px;
}
.select2-container--krajee .select2-selection {
    border-radius: 0 !important;
}
.select2-selection__rendered{
    padding-top: 4px!important;
}
.no-border-radius{
    border-radius: 0 !important;
}
.height-400{
    min-height: 400px;
}